<div class="container">
    <form action="/blogs/<%=post._id%>/comments" method="POST">
        <div class="form-group">
            <textarea class="from-control rounded-0" placeholder="Type your Issue or give review" rows="4"></textarea>
        </div>
        <button class="btn rounded-0 btn-primary w-100">post</button>
    </form>
</div>