<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/Ak.jpg" height="100%" width="100%">
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h3 class="text-success text-center"><b>Algo Rythm</b></h3>

            <form action="" class="mt-5 p-5">
                <h5 class="text-primary mb-3">load data</h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name" name="name" [(ngModel)]="name">
                    <label for="floatingInput">Name</label> <!--[(ngModel)]="name"   [(ngModel)]="field"   [(ngModel)]="topic"  [(ngModel)]="video"    [(ngModel)]="image"-->
                </div>
                  <div class="form-floating mb-3">
                    
                    <input type="text" class="form-control" id="floatingInput" placeholder="field" name="field" [(ngModel)]="field">
                    <label for="floatingInput">Field Working</label>
                  </div>

                  <div class="form-floating mb-3">
                    
                    <input type="text" class="form-control" id="floatingInput" placeholder="topic" name="topic" [(ngModel)]="topic">
                    <label for="floatingInput">Topic</label>
                  </div>

                  <div class="form-floating mb-3">
                    
                    <input type="text" class="form-control" id="floatingInput" placeholder="video link" name="video" [(ngModel)]="video" >
                    <label for="floatingInput">video</label>
                  </div>

                  <div class="form-floating mb-3">
                    
                    <input type="text" class="form-control" id="floatingInput" placeholder="Traversal link" name="links" [(ngModel)]="links" >
                    <label for="floatingInput">Traversal link</label>
                  </div>
                 

                  <div class="form-floating mb-3">

                  
                    
                  <input type="file" class="form-control"  placeholder="image" name="image" multiple  (change)="selectImage($event)" [(ngModel)]="image">
                    <label for="floatingImage">Image</label>   
                   
                  </div>  
                 

             
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" type="button"  (click)="update()" >save</button>
                  </div>
                  <p>want to search ?</p><a routerLink="/user" class="text-primary" style="text-decoration: none;">click here </a>
            </form>

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

